<button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button>

<header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a>
            </li>
            <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i>
                    <span>Portfolio</span></a>
            </li>
            <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a>
            </li>
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a>
            </li>
        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->

<section id="hero" class="  d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Nisha Yadav</h1>
        <div class="social-links mt-3">
            <a href="https://github.com/Fishi736" class="twitter"><i class="bx bxl-github"></i></a>
            <a href="https://www.instagram.com/its_me_nisha98/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="mailto:nisha.renusagar@gmail.com"><i class="bx bx-envelope"></i></a>
            <a href="https://www.linkedin.com/in/nisha-y-14735b169" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</section>

<div id="main" class="px-5">
    <section id="about" class="about ">
        <div class="container " data-aos="fade-up">
            <div class="section-title mb-3 ">
                <h2>About</h2>
            </div>
            <div class="pt-4 pt-lg-0 content">
                <h3>UI/UX Designer &amp; Angular Developer.</h3>
                <div class="row  d-flex justify-content-around ">
                    <div class="col-lg-6  py-5  ">
                        <p class="text-justify">I am a 23 years old passionate Fullstack Web Developer based in Lucknow,
                            (Uttar Pradesh) who
                            enjoys building applications. Have a 6 months
                            Internship experience working as Angular Developer.
                        </p>

                    </div>

                    <div class="col-lg-5 ">
                        <div class="image-container pb-5" id="tilt">
                            <div class="image mr-5"
                                style="--clip-start: inset(100% 100% 100% 100%); --clip-end: inset(0 0 0 0);">
                                <img class="img-fluid" src="assets/img/20200921_064843_auto_x2.jpg" />
                                <img class="img-fluid" src="assets/img/20200921_064843_auto_x2.jpg" />
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-1 text-center ">
                        <a class="download-link  bx-fade-down" href="/src/assets/Resume.pdf">HIRE ME
                            <i class="bx bx-down-arrow-alt " href="#"></i></a>
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section id="technologies">
        <div class="container" data-aos="fade-up">
            <div class="section-title mb-3 ">
                <h2>Technologies Used</h2>
            </div>

            <div class="technologies">
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-html-5-30.png" alt="">
                    <span>HTML</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-css3-30.png" alt="">
                    <span>CSS</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-javascript-30-2.png" alt="">
                    <span>JavaScript</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-bootstrap-30.png" alt="">
                    <span>Bootstrap</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-angularjs-30.png" alt="">
                    <span>Angular</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-nodejs-30.png" alt="">
                    <span>Node Js</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-google-firebase-console-30.png" alt="">
                    <span>Firebase</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-git-30.png" alt="">
                    <span>Git</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-mongodb-30.png" alt="">
                    <span>MongoDB</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-microsoft-sql-server-30.png" alt="">
                    <span>MSSQL</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-json-30.png" alt="">
                    <span>Json</span>
                </div>
                <div data-aos="flip-right">
                    <img src="assets/img/Icons/icons8-npm-30.png" alt="">
                    <span>npm</span>
                </div>
            </div>


        </div>
    </section>


    <section id="skills" class="skills ">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Skills</h2>
                <p class="text-justify">I use HTML, CSS, and JavaScript to produce responsive websites and web apps that
                    provide users the
                    best and most appropriate experience suited to their device and browser.
                    I am also experienced in building systems that implement business logic and interact with
                    server-side technology via APIs and tools such as Angular and Node Js, as well as testing code using
                    tools such as Jasmine.

                    I have a special interest in use of animation on the web. I particularly like working on websites
                    that have seamless transitions and require high-level performance to maintain a smooth and appealing
                    website.
                </p>
            </div>

            <div class="row d-flex justify-content-around skills-content" id="skills-content">

                <div class="col-lg-5">

                    <div class="progress" data-aos="fade-right">
                        <span class="skill">HTML <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="progress" data-aos="fade-right">
                        <span class="skill">CSS <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                    <div class="progress" data-aos="fade-right">
                        <span class="skill">JavaScript <i class="val">85%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress" data-aos="fade-right">
                        <span class="skill">Bootstrap <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5">

                    <div class="progress" data-aos="fade-right">
                        <span class="skill">Angular <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress" data-aos="fade-right">
                        <span class="skill">Mongo DB <i class="val">55%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                    <div class="progress" data-aos="fade-right">
                        <span class="skill">Git <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>


                    <div class="progress" data-aos="fade-right">
                        <span class="skill">Photoshop <i class="val">55%</i></span>
                        <div class="progress-bar-wrap ">
                            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                aria-valuemax="100">
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>


    <section id="resume" class="resume ">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p class="text-justify text-center">A journey of learning, training and gainning experience while
                    working on multiple projects.</p>
            </div>

            <div class="row">
                <div class="container">
                    <div class="main-timeline">
                        <div class="timeline">
                            <div class="icon" data-aos="fade-in"></div>
                            <div class="date-content" data-aos="fade-right">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">Jan 2021 - June 2021</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content" data-aos="fade-left">
                                <h5 class="title">Work Experience</h5>
                                <blockquote>Angular Developer - Dr. A.P.J. Abdul Kalam Technical University, Lucknow
                                </blockquote>
                                <p class="description">
                                    Assisted in the development of MVC based applications.
                                    Used frameworks like Angular, NodeJs and ExpressJs for building REST API.
                                    Worked on SQL database.
                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="icon" data-aos="fade-in"></div>
                            <div class="date-content" data-aos="fade-left">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">2016 - 2020</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content" data-aos="fade-right">
                                <h5 class="title">Graduation</h5>
                                <blockquote> Azad Institute of Engineering and Technology, Lucknow</blockquote>
                                <p class="description">
                                    Marks Scored : 75%

                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="icon" data-aos="fade-in"></div>
                            <div class="date-content" data-aos="fade-right">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">June 2019 - July 2019</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content" data-aos="fade-left">
                                <h5 class="title">Summer Training </h5>
                                <blockquote>MEAN Stack - Digipodium, Lucknow</blockquote>
                                <p class="description">
                                    Marks Scored : 75%
                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="icon" data-aos="fade-in"></div>
                            <div class="date-content" data-aos="fade-left">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">2015 - 2016</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content" data-aos="fade-right">
                                <h5 class="title">12th</h5>
                                <blockquote>Aditya Birla Public School, Sonebhadra </blockquote>
                                <p class="description">
                                    Marks scored : 63%

                                </p>
                            </div>
                        </div>

                        <div class="timeline">
                            <div class="icon" data-aos="fade-in"></div>
                            <div class="date-content" data-aos="fade-right">
                                <div class="date-outer">
                                    <span class="date">
                                        <span class="year">2013 - 2014</span>
                                    </span>
                                </div>
                            </div>
                            <div class="timeline-content" data-aos="fade-left">
                                <h5 class="title">10th</h5>
                                <blockquote> Aditya Birla Public School, Sonebhadra</blockquote>
                                <p class="description">
                                    Marks Scored : 82%

                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>


    <section id="portfolio" class="portfolio  section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Portfolio</h2>
                <p class="text-justify text-center">A small gallery of recent projects chosen by me. Have a look.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/Resume.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/Resume.png" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                                <a href="https://fishi736.github.io/Project1/" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="https://fishi736.github.io/Guess-Game/" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/Screenshot (78).png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/Screenshot (78).png" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                                <a href="assets/img/portfolio/Screenshot (78).png" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card ">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/Screenshot (70).png" class=" img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/Screenshot (70).png" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                                <a href="https://fishi736.github.io/Profile/" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <div class="portfolio-links">
                                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery"
                                    class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" class="portfolio-details-lightbox"
                                    data-glightbox="type: external" title="Portfolio Details"><i
                                        class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>
    </section>

    <app-contact></app-contact>
</div>

<footer id="footer">
    <p class="mb-0">copyright@Nisha</p>
</footer>


<!-- <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Achievements and Certification</h2>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Saul Goodman</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                            Accusantium
                            quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum
                            eram malis
                            quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis
                            minim tempor
                            labore quem eram duis noster aute amet eram fore quis sint minim.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim
                            velit minim
                            dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>


                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam
                            enim culpa
                            labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                            quid.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div>


            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section> -->